/*
* @Author: lenovo
* @Date:   2018-04-15 12:48:26
* @Last Modified by:   RamboYoung007700
* @Last Modified time: 2018-04-15 14:37:36
*/
a{
	text-decoration: none;
	font-size: 28px;
}
a:link{
	color: #AFEEEE;
}
a:hover{
	color: #FF4500;
}

a:visited{
	color: #9ACD32;
}

h1{
	text-align: center;
	color: red;
}
p{
	font-size: 24px;
	color: white;
	padding: 30px;

}
body{
	background-color: black;
}
ul{
	padding-bottom: 45px;
}